html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Minion Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/MinionPro-Regular.eot?) format("eot"), url(/fonts/MinionPro-Regular.woff) format("woff"),
      url(/fonts/MinionPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "A Garamond Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/AGaramondPro-Regular.eot?) format("eot"), url(/fonts/AGaramondPro-Regular.woff) format("woff"),
      url(/fonts/AGaramondPro-Regular.ttf) format("truetype");
}
